* {
    box-sizing: border-box;
}

:root {
    --primary-color: #222;
    --secondary-color: #fff;
}

html {
    transition: all 0.7s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #222;
}

html.dark {
    background-color: #222;
    color: var(--primary-color)
}

html.dark .clock {
    box-shadow: 1px 1px 12px 2px #fff;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Bruno Ace SC', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.toggle {
    font-family: inherit;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;
    scale: 0.98;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 1px 1px 12px 2px #222;
    transition: box-shadow 0.3s ease-in;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 115px;
    width: 4px;
    transform-origin: bottom center;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 150px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 150px;
    background-color: #3c62af;
}

.center-point {
    background-color: #3c62af;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.clock-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--primary-color);
    width: 4px;
    height: 20px;
    transform-origin: bottom center;
}

.clock-mark.mark-12 {
    transform: translate(-50%, -950%) rotate(0deg);
}

.clock-mark.mark-3 {
    transform: translate(4200%, -100%) rotate(90deg);
}

.clock-mark.mark-6 {
    transform: translate(-50%, 750%) rotate(180deg);
}

.clock-mark.mark-9 {
    transform: translate(-4300%, -100%) rotate(-90deg);
}

/*** Media Queries ***/

@media (max-width: 768px) {
    .clock {
        width: 300px;
        height: 300px;
    }

    .needle.hour {
        height: 80px;
    }

    .needle.minute,
    .needle.second {
        height: 100px;
    }

    .time {
        font-size: 40px;
    }

    .clock-mark {
        display: none;
    }

    .toggle {
        right: auto;
        left: auto;
    }

}

@media (max-width: 480px) {
    .clock {
        width: 200px;
        height: 200px;
    }

    .needle.hour {
        height: 60px;
    }

    .needle.minute,
    .needle.second {
        height: 80px;
    }

    .time {
        font-size: 30px;
    }

    .clock-mark {
        display: none;
    }

    .toggle {
        right: auto;
        left: auto;
    }
}
